:root {
    /* Main fonts and colors */
    --main-background-color: rgb(2, 39, 11);
    --main-font: system, sans-serif;
    --main-font-color: #91eb95;
  
    /* border styles */
    --main-border: 1px solid #91eb95;
  
    /* Secondary fonts and colors */
    --secondary-font-color: rgb(45, 168, 101);
  
    /* results list */
    --result-background: transparent;
    --result-title-color: var(--main-font-color);
    --result-subtitle-color: #fffbfb;
  
    /* selected result */
    --selected-result-title-color: green;
    --selected-result-subtitle-color: var(--result-subtitle-color);
    --selected-result-background: rgba(18, 110, 219, 1);
  
    /* scrollbar */
    --scroll-background: var(--main-background-color);
    --scroll-track: rgb(213, 223, 213);
    --scroll-track-active: var(--scroll-track);
    --scroll-track-hover: var(--scroll-track);
    --scroll-thumb: var(--secondary-font-color);
    --scroll-thumb-hover: var(--scroll-thumb);
    --scroll-thumb-active: var(--main-font-color);
    --scroll-width: 5px;
    --scroll-height: 5px;
  
    /* inputs */
    --preview-input-background: white;
    --preview-input-color: var(--main-font-color);
    --preview-input-border: 1px solid #ccc;
  
    /* filter for previews */
    --preview-filter: none;
  }
  